<h1>id: <%= @edittask.id %> の編集ページ</h1>
  <%= form_for(@edittask) do |i| %>
    <div class="form-group">
      <%= i.label :content, 'タスク' %>
      <%= i.text_field :content, class: 'form-control' %>
      <%= i.label :status, 'ステータス' %>
      <%= i.text_field :status, class: 'form-control' %>
    </div>
    <%= i.submit "Modify", class: "btn btn-primary" %>
  <% end %>